div {
    font-size: 20px;
}
span.text{
    color: green;
}
span{
    color: rgb(255, 180, 5);
}

[custom_data=""]{
    color: blue !important;
}
.text{
    color: red;
}
#text_span{
    color: yellow;
}
.block p{
    font-size: 30px;
}
.block>p{
    font-size: 10px;
}

p{
    font-family: Arial, "Hevelvetica Neue", Helvetica, sans-serif; /*шрифт*/
    font-size: 25px;
    font-style: oblique; /*курсив, наклонный*/
    font-weight: 800; /*вес шрифта, жирность*/
    color: #999;
    text-align: start; /*выравнивание текста, позиционирование*/
    text-decoration: underline; /*зачёркивания, подчёркивания*/
    text-shadow: 1px 1px 1px #000; /*смещение по вертикали, по горизонтали, размытость, цвет тени для текста*/
    text-transform: uppercase; /*транформация, например, все буквы заглавные*/
    text-indent: 30px; /*красная строка, отступ*/
    letter-spacing: 5px; /*интервал между символами*/
    line-height: 50px; /*высота строки*/
    white-space: normal;/*правило переноса текста*/
    word-spacing: 10px; /*интервал между словами*/
}

.block{
    border: 1px solid #000; /*толщина обводки изнутри, тип, цвет*/
    outline: 1px solid #000; /*толщина обводки берётся снаружи, тип, цвет, рисуется сразу для 4х сторон*/
    border-radius: 50%; /*обрезать картинку в кружочек*/
    margin: 20px 40px 5px 10px;/*отступ внешний*/
    padding: 20px 40px 5px 10px;/*отступ внутренний*/
    width: 500px;
    min-width: 300px;
    min-height: 100px;
    max-height: 100px;
    overflow: hidden; /*если содержимое вылезает за границы блока*/
    overflow: scroll;
    box-sizing: border-box; /*совместимость браузеров*/
    box-shadow: 1px 2px 5px #000 inset;/*смещение по вертикали, по горизонтали, размытость, цвет тени для блока*/
    opacity: 0.5; /*значение непрозрачности*/
    visibility: visible; /*прозрачность*/
}

.example-string{
    margin: 10px;
    border: 1px solid #000;
    display: inline-block; /*стиль отображения, внутри блочный а снаружи строчный*/
    width: 300px; /*ширина*/
}

.block{
    
    height: 400px;/*высота*/
    width: 100%;
    box-shadow: 2px 2px 10px #000;
    margin: 30px;
    background-color: rgba(255, 14, 172, 0.4); /*цвет фона*/
    
    background-image: linear-gradient(to bottom, rgba(236,232,157,1) 0%, rgba(94,83,115,1) 50%, rgba(24, 181, 164, 1) 100%);/*to bottom - сверху вниз*/
    background-image: url(../img/photo1.png); /*фон изображение, можно использовать бесшовные*/
    background-repeat: round; /*подгон картинки под размеры блока*/
    background-repeat: space; /*отступы между картинками*/
    background-repeat: no-repeat; /*не повторять*/
    background-position: 5% 50%; /*позиция*/
    background-attachment: local; /*подвижность фона, фиксировать или нет*/
    background-size: 100% 100%; /*растянуть изображение*/
}

.block{
    
    height: 600px;
    width: 100%;
    box-shadow: 2px 2px 10px #000;
    margin: 30px;
    overflow: scroll;
    background: url(../img/photo1.png) 50% 50%/800px auto no-repeat local, url(../img/smile.png) left/100px auto no-repeat local; /*размещение двух изображений на фоне*/
    
}

.list{
    margin: 30px;
    padding: 10px 0px 10px 0px;
    font-size: 20px;
}

.list>li{
    background: url("../img/cup.png") left/auto 70% no-repeat; /*подогнать налево, ширина авто*/
    padding-left: 15px;
}
    
.menu{
    float: left; /*прижать по левому краю*/
    padding-left: 432px;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none; /*прозрачные кнопочки*/
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 28px 0px 14px;
}

/*------------------------------------------------------------------------- Lesson 5 ---------------------------------------------------------*/
body{
    padding: 50px;
    font-family: Arial, sans-serif;
}

.main_block {
    border: 2px solid red;
    max-width: 800px;
    height: 800px;
    margin: 0 auto; /*выравнивание блочного элемента по центру, сверху-снизу 0, справа-слева авто*/
    /*position: relative;/*точка отсчёта для блоков будет начинаться не с начала страницы, а с начала блока .main_block*/
    
}

.main_block div{
    line-height: 50px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    
}

.block_1{
    background-color: antiquewhite;
}

.block_2{
    background-color: coral;
    position: static; /*значение по умолчанию*/
    
    position: relative; /*точка отсчёта*/
    left: 20px;
    top: 20px;
    z-index: 1; /*ось z, порядок наложения слоёв, по умолчанию 0, работает с relative и absolute*/
    
    position: absolute; /*точка отсчёта с начала страницы, если не задать в родительском элементе position: relative*/
    left: 0px;
    top: 0px;
    width: 30%;
    
    position: fixed; /*фиксирует положение блока на экране пользователя*/
    top: 0;
    left: 0;
    width: 100%;
    
    position: sticky;/*"липкий", гибрид между значениями fixed и static*/
}

.block_3{
    background-color: lightgreen;
    position: relative;
}

.main_block div{
    line-height: 50px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    width: 33%;
    
}

.block_1{
    background-color: antiquewhite;
}

.block_2{
    background-color: coral;
}

.block_3{
    background-color: lightgreen;
}

/*------------------------------------------------------------------------- Lesson 6 ---------------------------------------------------------*/

a{
    color: blue;
    text-decoration: none;
    padding: 20px;
}

a:active{/*превдокласс*/
    color: aqua;
}

a:hover{
    background: green;
}

.box{
    width: 200px;
    height: 200px;
    border: 2px solid #333;
}

.box:hover{ 
    background: red;
    width: 300px;
}

a:visited{
    color: firebrick;
}

input:focus{
    border: 3px solid green;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
}

/*li:first-child{
    background: red;
}

li:nth-child(3){ /*even - каждый чётный, odd/2n+1 - каждый нечётный, 2n - каждый второй*/
  /*  background: red;
}*/

p::first-line{/*превдоэлемент*/
    color: aquamarine;
}

p::first-letter{/*превдоэлемент*/
    color: red;
    font-size: 20px;
}

ul{
    margin: 50px;
    font-size: 18px;
    width: 30px;
}

li{
    margin-bottom: 30px;
}

li::after{/*после*/
    content: "";
}

li::before{ /*До*/
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    margin-right: 10px;
}

li::before{ 
    display: block;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: red;
    transition: all 0.3s;
}

li:hover::before{
    transform: scaleX(1);
   
}

/*------------------------------------------------------------------------- Lesson 6 animation ---------------------------------------------------------*/

body{
    padding: 50px;
}

.box span{
    display: block;
    text-align: center;
    margin-top: 90px;
}

.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: azure;
    transition: all 2s 0.1s cubic-bezier(.03,.97,.91,.05);
    /*transition-duration: 2s; /*задаёт время анимации, за которое покрасится блок*/
    /*transition-property: all; /*перечисляем, какие параметры мы хотим анимировать*/
    /*transition-delay: 0.1s; /*задержка перед изменением*/
    /*transition-timing-function: linear;
    transition-timing-function: cubic-bezier(.03,.97,.91,.05);*/
}

.box:active{
    /*background-color: red;
    width: 300px;
    opacity: 0;*/
    margin-left: 300px;
}

.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: azure;
    animation-name: move;
    animation-duration: 5s;
    /*animation-timing-function: ease;
    animation-delay: 2s;
    animation-iteration-count: infinite; /*кол-вл повторений, infinite - бесконечно */
    /*animation-direction: reverse; /*reverse - в обратном порядке, alternate - туда и обратно*/
    /*animation-direction: alternate;*/
    /*animation-fill-mode: forwards; остановится на финише*/
    animation: move 1s ease reverse infinite, bg-color 2s;
}

@keyframes move{
    0%{ /* =from*/
        margin-left: 0;
    }
    
    100%{ /* =to*/
        margin-left: 200px;
    }
}

@keyframes bg-color{
    0%{ /* =from*/
        background: red;
    }
    
    100%{ /* =to*/
        background: #fff;
    }
}

.box:hover{
    animation-play-state: paused;
}































