body {
    font-family: Arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 1;
}

.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 390px;
    float: left;
    -webkit-animation: comming 3s ease;
    -o-animation: comming 3s ease;
    animation: comming 3s ease;
}

.menu {
    float: left;
    padding-left: 432px;
}

.menu li {
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 45px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li a{
    color: white;
    transition: all 0.3s;
    transform: scale(1);
    display: inline-block;
}

.menu li a:hover{
    color: #e88604;
    transform: scale(1.1);
}

@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
       opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2){
    animation-delay: 0.4s;
}

.menu li:nth-child(3){
    animation-delay: 0.8s;
}

.menu li:nth-child(4){
    animation-delay: 1.2s;
}

.menu li:nth-child(5){
    animation-delay: 1.6s;
}

.menu li:nth-child(6){
    animation-delay: 2s;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.png) center/cover no-repeat;
}

main{
    width: 100%;
    height: 100%;
}

.title__container {
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
       opacity: 1;
        margin-left: 404px;
    }
}

.title__container h1 {
    font-size: 60px;
    font-weight: bold;
}

.title__container h4 {
    margin-top: 35px;
    font-size: 22px;
    color: #79818d;
}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    /*прозрачные кнопочки*/
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 28px 0px 14px;
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover{
    background: #344051;
    color: white;
    transform: scale(1.1);
}

.about_me {
    text-align: center;
}

h2 {
    text-align: center;
    padding: 108px 0px 30px 0px;
    font-size: 30px;
    font-weight: 600;/*вес шрифта, жирность*/
    margin: 0 33% 0 33%;
}

h2::after{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    transform: scaleX(0);
    background-color: #d17700;
    transition: all 1s;
}

h2:hover::after{
    transform: scaleX(1);
}

.about_me input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 20px 0px 30px;
    margin: 50px 28px 100px 14px;
    background: url("../img/down.png") 8% 50%/15px auto no-repeat;
    transition: all 0.3s;
    transform: scale(1);
}

.about_me input:hover{
    transform: scale(1.1);
}

.wings {
    border-radius: 50%;
    margin: 60px 0px 24px 0px;
    width: 200px;
}

.ICan {
    text-align: center;
    height: 523px;
    background: url(../img/fon.png) center/cover no-repeat;

}

h5 {
    text-align: center;
    color: #d2812a;
    font-weight: 600;
    padding-top: 50px;
}
.ICan li {
    float: left;
    text-align: center;
    width: 220px;
    height: 160px;
    margin-top: 110px;
    line-height: 20px;
}

.c1 {
    background: url(../img/PC.png) 50% 0px/55px auto no-repeat;
    margin-left: 20%;
    -webkit-animation: ICan 1s ease forwards;
    -o-animation: ICan 1s ease forwards;
    animation: ICan 1s ease forwards;
    opacity: 0;
}

@keyframes ICan{
    from{
        opacity: 0;
        margin-left: -600px;
    }
    to{
        opacity: 1;
        margin-left: 20%;
    }
}

.c2 {
    background: url(../img/symbol.png) 50% 0px/51px auto no-repeat;
    margin-left: 80px;
}

.c3 {
    background: url(../img/rocket.png) 50% 0px/47px auto no-repeat;
    margin-left: 80px;
}

.c4 {
    background: url(../img/gramophone.png) 50% 0px/51px auto no-repeat;
    margin-left: 80px;
}

.c2, .c3, .c4{
    -webkit-animation: ICan2 1s ease forwards;
    -o-animation: ICan2 1s ease forwards;
    animation: ICan2 1s ease forwards;
    opacity: 0;
}

@keyframes ICan2{
    from{
        opacity: 0;
        margin-left: -1200px;
    }
    to{
        opacity: 1;
        margin-left: 80px;
    }
}

.case {
    text-align: center;
}

.case_text1 {
    margin: 35px;
}

.case h3 {
    font-size: 20px;
}

.center {
    background: url(../img/photo1.png) 388px 0px no-repeat;
    min-height: 800px;
    text-align: left;
}

.left {
    float: left;
    margin-left: 388px;
    margin-top: 620px;
    line-height: 25px;
}

.left input {
    height: 40px;
    text-align: center;
    border: 2px solid #63b5ae;
    border-radius: 5px;
    color: #fff;
    background: #63b5ae;
    font-size: 18px;
    padding: 0px 44px 0px 44px;
    margin: 15px 0px 20px 0px;
    transition: all 0.3s;
    transform: scale(1);
}

.left input:hover{
    transform: scale(1.1);
}

.right {
    float: left;
    max-width: 865px;
    margin-left: 82px;
    margin-top: 620px;
    line-height: 20px;
}

.price {
    text-align: center;
    background: url(../img/line_podit.png) 500px 500px no-repeat;
}

.price h3 {
    font-size: 20px;
    margin: 10px;
}

.price select {
    height: 40px;
    text-align: center;
    border: 2px solid #63b5ae;
    border-radius: 5px;
    color: #fff;
    background: #63b5ae;
    font-size: 18px;
    padding: 0px 44px 0px 44px;
    margin: 15px 0px 20px 0px;
}

.price p {
    text-align: left;
    font-size: 18px;
    margin: 0px 0px 150px 815px;
}

.stat {
    text-align: center;
    height: 499px;
    background: url(../img/fon2.png) center/cover no-repeat;
    background-attachment: fixed;
}

.stat li {
    float: left;
    max-width: 2500px;
    margin-top: 62px;
    padding-top: 88px;
}

.c5 {
    background: url(../img/smile.png) 50% 0px/53px auto no-repeat;
    margin-left: 420px;
}

.c6 {
    background: url(../img/symbol1.png) 50% 0px/63px auto no-repeat;
    margin-left: 140px;
}

.c7 {
    background: url(../img/symbol2.png) 50% 0px/57px auto no-repeat;
    margin-left: 125px;
}

.c8 {
    background: url(../img/cup.png) 50% 0px/57px auto no-repeat;
    margin-left: 120px;
}

.number {
    font-size: 30px;
    font-weight: 800;
    color: 323e4f;
}

.text {
    font-size: 20px;
    padding-top: 20px;
}

.people_about_me {
    text-align: center;
}

.people_about_me p {
    margin: 15px;
    line-height: 25px;
}

.people_about_me input {
    margin-bottom: 90px;
}

.contact {
    text-align: center;
    height: 808px;
    background: url(../img/fon3.png) center/cover no-repeat;
    color: #fff;
}

.contact li {
    float: left;
    margin-top: 45px;
}

.c9 {
    height: 80px;
    text-align: center;
    background: none;
    color: #fff;
    font-size: 15px;
    margin-left: 654px;
    background: url(../img/geo.png) 50% 8%/18px auto no-repeat;
}

.c9 p,
.c10 p,
.c11 p {
    padding-top: 40px;
}

.c10 {
    height: 80px;
    text-align: center;
    background: none;
    color: #fff;
    font-size: 15px;
    margin-left: 103px;
    background: url(../img/mail.png) 50% 8%/24px auto no-repeat;
}

.c11 {
    height: 80px;
    text-align: center;
    background: none;
    color: #fff;
    font-size: 15px;
    margin-left: 113px;
    background: url(../img/telephone.png) 50% 8%/24px auto no-repeat;
}

.contact input {
    height: 40px;
    width: 353px;
    border: 2px solid #fff;
    color: black;
    font-size: 18px;
    padding: 0px 15px 0px 15px;
    margin: 15px 12px 20px 12px;
    opacity: 0.8;
}

.contact textarea {
    padding-left: 15px;
    font-size: 18px;
    height: 95px;
    width: 735px;
    opacity: 0.8;
}

.contact h3 {
    margin-top: 130px;
    font-size: 20px;
    padding: 25px;
}

#submit{
    background: none;
    border-radius: 5px;
    color: #fff;
    opacity: 1;
    width: 150px;
    transition: all 0.3s;
    transform: scale(1);
    display: inline-block;
}

#submit{
    transform: scale(1.1);
}
